#first-debt, #firstRecurring, #firstSavings, #firstIncome{
	float: left;
	font-weight: bold;
}
.form-horizontal p{
	font-size:12px;
}
.debt .row{
	margin:4px;
}
.inputs{
	padding-right: 0px;
}
.one-line{
	padding-bottom: 10px;
}
.debt{
margin-bottom: 20px;
}
#addAnotherLoan, #addAnotherPayment, #addAnotherSavings, #addAnotherIncome{
	background-color: #e8ecf2;
}
#loginButton{
	margin-left: 6%
}
.row{
	margin-bottom: 50px;
}
#savingsCheck{
	margin-top: 5%;
	font-size: 15px;
}
#incomeField{
	display: none;
}