
#T:hover 
{
	background: #2770e5; /* Old browsers */
	background: -moz-linear-gradient(top, #2770e5 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2770e5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2770e5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2770e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#F:hover
{
	background: #f23d1d; /* Old browsers */
	background: -moz-linear-gradient(top, #f23d1d 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f23d1d 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f23d1d 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23d1d', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#U:hover
{
	background: #f29113; /* Old browsers */
	background: -moz-linear-gradient(top, #f29113 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f29113 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f29113 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29113', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#Ho:hover
{
	background: #0a9930; /* Old browsers */
	background: -moz-linear-gradient(top, #0a9930 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0a9930 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0a9930 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a9930', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#R:hover
{
	background: #690fad; /* Old browsers */
	background: -moz-linear-gradient(top, #690fad 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #690fad 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #690fad 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#690fad', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#P:hover
{
	background: #1dcee5; /* Old browsers */
	background: -moz-linear-gradient(top, #1dcee5 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1dcee5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1dcee5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dcee5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#I:hover
{
	background: #d843a6; /* Old browsers */
	background: -moz-linear-gradient(top, #d843a6 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d843a6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d843a6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d843a6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#He:hover
{
	background: #66e258; /* Old browsers */
	background: -moz-linear-gradient(top, #66e258 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #66e258 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #66e258 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66e258', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#D:hover
{
	background: #f70404; /* Old browsers */
	background: -moz-linear-gradient(top, #f70404 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f70404 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f70404 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f70404', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#bot
{
	margin-bottom: 5%;
}